OPENAI_API_KEY=

JWT_SECRET_KEY=

MCP_HOST=mcp
MCP_PORT=8001
MCP_SERVER_URL=http://${MCP_HOST}:${MCP_PORT}/mcp

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
LANGFUSE_DEBUG=True
LANGFUSE_TRACING_ENABLED=True
LANGFUSE_SAMPLE_RATE=1.0


POSTGRES_HOST=postgres
POSTGRES_DB=travel_agent
POSTGRES_USER=travel_agent
POSTGRES_PASSWORD=travel_agent
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
LANGGRAPH_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}